<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="image/x-icon" href="stackoverflow.png">
	<title>Resume</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/ResumeStyle.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<header id="body-header">
                    <div id="hamburger-menu">
			              <a href="#nav"> <i class="fas fa-bars"></i></a>
		            </div>
	    <nav id="nav">
	    		  <div id="nav-container">
			<ul class="horizontal-list text-align nav-menu">
				<li>
	                    <a href="#">home</a>
	            </li>
	            <li>
	                    <a href="#about">about</a>
	            </li>
	            <li>
	                    <a href="#skills">skills</a>
	            </li>
	            <li>
	                    <a href="#experience">experience</a>
	            </li>
	            <li>
	                    <a href="#education">education</a>
	            </li>
                <li>
	                    <a href="#portfolio">portfolio</a>
	            </li>
                <li>
	                    <a href="#contact">contact</a>
	            </li>
            </ul>
        </div>
		</nav>
		<p id="name" class="text-align">Apurv Roy</p>
		    <ul class="horizontal-list text-align logo">
			    <li >
			    	<a href="https://www.facebook.com/never.before.010" target="_blank"><img  src="/images/facebook.png"></a>
			    </li>
			     
			     <li >
			    	<a href="https://www.linkedin.com/in/apurv-roy-982b71151/" target="_black"><img  src="/images/linkdin.png"></a>
			    </li>
			     <li >
			    	<a href="https://stackoverflow.com/users/11730872/apurv-roy" target="_blank"><img src="/images/stackOverflow.png"></a>
			    </li>
			    <li >
			    	<a href=""><img src="/images/google+.png"></a>
			    </li>
			     <li >
			    	<a href=""><img src="/images/quora.png"></a>
			    </li>
		    </ul>
			
	</header>


<main>
    <section id="about">
    	<div id="my-image">
    		<img src="/images/myimage.jpg">
    	</div>
    	<p>
			Looking for a challenging role in a reputable organization to utilize my technical, database, and management skills for the growth of the organization as well as to enhance my knowledge about new and emerging trends in the IT sector.
    	</p>
    	
    </section>
	<section id="skills">
		<h1 class="section-heading mb75px">
			<span>
				 <i class="fas fa-chalkboard-teacher"></i>
			</span>
			<span>SKILLS</span>
		</h1>

		<div class="skills-display">
            <div class="skill-progress">
               <div class="eighty-five-percent  mb-blue">
               	  <div class="skill-name">
               	      <span>C++</span>
                  </div>
               </div>
            	
            </div>
		
		
            <div class="skill-progress">
               <div class="fifty-five-percent  mb-orange">
               	  <div class="skill-name">
               	      <span>HTML</span>
                  </div>
               </div>
            	
		</div>
            <div class="skill-progress">
               <div class="fifty-five-percent  mb-green">
               	  <div class="skill-name">
               	      <span>CSS</span>
                  </div>
               </div>
            	
            </div>
		
            <div class="skill-progress">
               <div class="seventy-five-percent  mb-blue">
               	  <div class="skill-name">
               	      <span>Javascript</span>
                  </div>
               </div>
            	
            </div>
            <div class="skill-progress">
               <div class="forty-five-percent  mb-green">
               	  <div class="skill-name">
               	      <span>C</span>
                  </div>
               </div>
            	
		    </div>
            <div class="skill-progress">
               <div class="forty-five-percent  mb-orange">
               	  <div class="skill-name">
               	      <span>NodeJs</span>
                  </div>
               </div>
            	
		    </div>
		</div>
	</section>
	<section id="experience">
		<div class="section-heading mb75px">
			<span>
				<i class="fas fa-briefcase"></i>
			</span>
			<span>Work-Experience</span>
		</div>
	    <div class="timeline">

	    	<div class="timeline-box">
	    			<div class="top">
	    			<div class="top-heading">Teaching assistant</div>
	    				<div class="place">Coding Ninjas</div>	    
	    				<div class="duration">03-2020 | 07-2020</div>
	    		    </div>	
	    		<div class="add-font">
	    		<p style="text-align:justify;">
						• Taking doubt sessions on Data Structures and Algortihms Problems in Java. <br>
						• Debugging codes of students and correcting their approach for different problems. <br>
						• Monitoring the performance of students to make sure that they complete the lectures and assignments on time.
				</p>
                </div>
	    			
	    	</div>
	    	<div class="timeline-box">
	    		<div class="top">
	    			<div class="top-heading">Designation</div>
	    				<div class="place">Company Name</div>	    
	    				<div class="duration">08-2018 | 01-2019</div>
	    		    </div>	
	    		<div class="add-font">
	    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien eget mi proin sed libero. Auctor eu augue ut lectus arcu bibendum at varius.</p>
                </div>
	    	</div>
	    	<div class="timeline-box">
	    		<div class="top">
	    			<div class="top-heading">Designation</div>
	    				<div class="place">Company Name</div>	    
	    				<div class="duration">08-2018 | 01-2019</div>
	    		    </div>	
	    		<div class="add-font">
	    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien eget mi proin sed libero. Auctor eu augue ut lectus arcu bibendum at varius.</p>
                </div>
	    	</div>
	    	<div class="timeline-box">
	    		<div class="top">
	    			<div class="top-heading">Designation</div>
	    				<div class="place">Company Name</div>	    
	    				<div class="duration">08-2018 | 01-2019</div>
	    		    </div>	
	    		<div class="add-font">
	    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien eget mi proin sed libero. Auctor eu augue ut lectus arcu bibendum at varius.</p>
                </div>
	    	</div>
	    	<div class="timeline-divider">
	    		<div class="timeline-traveller">
	    			<i class="fas fa-plane"></i>
	    		</div>
	    		
	    	</div>
				
		</div>
			
		
	</section>
	<section id="education">
		<div class="section-heading mb75px">
			<span>
				<i class="fas fa-graduation-cap"></i>
			</span>
			<span>Education</span>
		</div>
	    <div class="timeline">

	    	<div class="timeline-box">
	    	<div class="top">
	    			<div class="top-heading">B-Tech</div>
	    				<div class="place">MAIT Delhi</div>	    
	    				<div class="duration">08-2017 | present</div>
	    		    </div>	
	    		<div class="add-font">
	    		<p>Cuurently, I am pursuing Btech in computer science with 8.4 cgpa and no backlog. i am also a part of the college's Tranning and Placement cell.</p>
                </div>

	    	</div>
	    	<div class="timeline-box">
	    		<div class="top">
	    			<div class="top-heading">Higher Senior Secondary</div>
	    				<div class="place">RPVV Lajpat Nagar</div>	    
	    				<div class="duration">08-2014 | 04-2016</div>
	    		    </div>	
	    		<div class="add-font">
	    		<p>I had completed my Higher Senior Secondary with 90.8% marks ,also i played cricket for my school team.</p>
                </div>
	    	</div>
	    	<div class="timeline-box">
	    		<div class="top">
	    			<div class="top-heading">Senior Secondary</div>
	    				<div class="place">RKGSBV,Sarita Vihar</div>	    
	    				<div class="duration">08-2010 | 04-2014</div>
	    		    </div>	
	    		<div class="add-font">
	    		<p>I had completed my Senior Secondary with 9.4 CGPA,also i played cricket for my school team.</p>
                </div>
	    	</div>
	    	<!-- <div class="timeline-box">
	    		<div class="top">
	    			<div class="top-heading">Degree</div>
	    				<div class="place">Institute Name</div>	    
	    				<div class="duration">08-2018 | 01-2019</div>
	    		    </div>	
	    		<div class="add-font">
	    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien eget mi proin sed libero. Auctor eu augue ut lectus arcu bibendum at varius.</p>
                </div>
	    	</div> -->
	    	<div class="timeline-divider">
	    		<div class="timeline-traveller">
	    			<i class="fas fa-car-side"></i>
	    		</div>
	    		
	    	</div>
				
		</div>
	</section>
	<section id="portfolio">
		<div class="section-heading mb75px">
			<h1>
				<span>
				    <i class="fas fa-th-list"></i>
			    </span>
			   
			          <span>Portfolio</span>
			    
			</h1>
		</div>
		<div id="portfolio-container">
		   <div class="portfolio-image-container">
                    <img src="/images/portfolio.png">
                    <div class="portfolio-details">
                        <p>
                            My Resume 
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="/images/portfolio-2.png">
                    <div class="portfolio-details">
                        <p>
                            solving the N-Queen problem with C++
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="/images/portfolio.png">
                    <div class="portfolio-details">
                        <p>
                            defining a relation and finding it's order using SQl
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="/images/portfolio-2.png">
                    <div class="portfolio-details">
                        <p>
                            designing a contact list where you can delete and add contacts
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="/images/portfolio.png">
                    <div class="portfolio-details">
                        <p>
                            A basic Blog page using HTML ans CSS only
                        </p>
                    </div>

                </div>
                <div class="portfolio-image-container">
                    <img src="/images/portfolio-2.png">
                    <div class="portfolio-details">
                        <p>
                            A todo list 
                        </p>
                    </div>

                </div>
		</div>
	</section>
	
	<section id="contact">
		 <div class="section-header mb75px">
			<h1>
			<span>
				<i class="fas fa-address-card"></i>
			</span>
			<span>Contact</span>
		</h1>
	</div>
			<div id="contact-container">
				<div id="my-form" class="mb75px">
				<form action="/resume" method="POST">
					<input type="text" name="name" placeholder="Your Name" required>
					<input type="Email" name="email" placeholder="Email" required>
					<input type="text" name="response" placeholder="Message" required>
					<button type="submit">SEND MESSAGE </button>
				</form>
			    </div>
			<div id="address">
			   <h3 class="address-header">Get in touch</h3>
			   <p class="add-font">I had given all the details about me in this resume and if you want to contact  me you can refer the following means</p>
			   <h3 class="address-header">My Address</h3>
			   <div >
			   	<span>
			   	<i class="fas fa-map-marker-alt"></i>
			   	<span>
			   	<span class="add-font">Sarita Vihar,Delhi, India</span>
			   </div>
			    <div >
			    	<span>
			     <i class="fas fa-mobile-alt"></i>
			        </span>
			   	<span class="add-font">8920719420</span>
			   </div>
			    <div>
			    	<span>
			   	<i class="fas fa-envelope-square"></i>
			   	    <span>
			   	<span class="add-font">apurvroy010@gmail.com</span>
			   </div>
			</div>
		</div>

		    <ul class="horizontal-list text-align logo">
			 <li >
			    	<a href="https://www.facebook.com/never.before.010" target="_blank"><img  src="/images/facebook.png"></a>
			    </li>
			     
			     <li >
			    	<a href="https://www.linkedin.com/in/apurv-roy-982b71151/" target="_black"><img  src="/images/linkdin.png"></a>
			    </li>
			     <li >
			    	<a href="https://stackoverflow.com/users/11730872/apurv-roy" target="_blank"><img src="/images/stackOverflow.png"></a>
			    </li>
			    <li >
			    	<a href=""><img src="/images/google+.png"></a>
			    </li>
			     <li >
			    	<a href=""><img src="/images/quora.png"></a>
			    </li>
		    </ul>
		
	</section>
</main>
       <script type="text/javascript" src="/home.js"></script>
</body>
</html>